pipeline/SourceToDiffDept_Lake.json
{
	"name": "SourceToDiffDept_Lake",
	"properties": {
		"description": "This data pipeline copies data from source data lake to different department data lakes",
		"activities": [
			{
				"name": "Src_Metadata_read_activity",
				"description": "This activity reads metadata from source data lake",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_src_azuredl_csvfiles",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "foreach_loop_activity",
				"description": "This activity read output of previous activity (childitems from Get Metadata activity) and loop through each file names",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Src_Metadata_read_activity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Src_Metadata_read_activity').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "if_condition_activity",
							"description": "This activity gets the file name from loop and accordingly decide where to copy data files either to Marketing/Reporting data lake. ",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@startswith(item().name, 'Dim' )",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "source_copydata_reporting_datalake",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_src_azuredl_factcsvfiles",
												"type": "DatasetReference",
												"parameters": {
													"p_file_name": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_sink_azuredl_factcsvfiles",
												"type": "DatasetReference",
												"parameters": {
													"p_file_name": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "source_copydata_marketing_datalake",
										"description": "This activity copied data files to marketing data lake",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_src_azuredl_dimcsvfiles",
												"type": "DatasetReference",
												"parameters": {
													"p_file_name": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_sink_azuredl_dimcsvfiles",
												"type": "DatasetReference",
												"parameters": {
													"p_file_name": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "df_marketingdl_transformation",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "foreach_loop_activity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_marketingdl_transformation",
						"type": "DataFlowReference",
						"datasetParameters": {
							"srcmarketingdlcsvfiles1": {
								"p_file_name": "Fact_Sales_2015.csv"
							},
							"srcmarketingdlcsvfiles2": {
								"p_file_name": "Fact_Sales_2016.csv"
							},
							"srcmarketingdlcsvfiles3": {
								"p_file_name": "Fact_Sales_2017.csv"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-08-05T12:08:56Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}